{% extends 'base.html' %}
{% block title %}{{profile.full_name}}'s profiles' {% endblock %}
{% block body %} 
  
  <div class="m-2">
    <nav aria-label="breadcrumb" class="">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
  <div> 
    <h3 class="text-center border-bottom border-danger border-3">{{profile.full_name}}'s Profile</h3>
  </div>
  <div class="row m-2">
    <div class="col-md-4 col-lg-4 col-sm-12 bg-light rounded-start border border-warning-subtle text-center">
      <div class="p-2">
        <img style="width: 200px; height: 200px;" src="{{ profile.profile_picture.url }}" class="img-thumbnail" alt="...">
      </div>
      <div>
        <p class="border rounded">{{profile.full_name}}</p>
        <p class="badge text-bg-info">{{profile.user_type}}</p>
        <br>
        <a class="btn btn-outline-danger btn-sm mb-2" href="{% url 'Login:logout' %}">Logout</a>
        <a class="btn btn-outline-success btn-sm mb-2" href="{% url 'Models:create_model' %}">Create Models</a>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-sm-12 bg-light rounded-end border border-warning-subtle">
      <table class="table table-light">
        
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{ profile.full_name }}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{ profile.gender }}</td>
          </tr>
          <tr>
            <td>Birth Date</td>
            <td>{{ profile.birth_date }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ profile.address }}</td>
          </tr>
          <tr>
            <td>University</td>
            <td>{{ profile.university }}</td>
          </tr>
          <tr>
            <td>Github</td>
            <td>{{ profile.github }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ profile.email }}</td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>


  
{% endblock %}



