{% extends 'base.html' %} {% load static %}
{% block title %} Create Models{% endblock %}
{% block head %} 
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block body %}

<h2 class="mb-1 text-center border bg-light">Create a New Model</h2>
<div class="container mt-2 pt-3 pb-10 border bg-light">
  <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input class="form-control" {{ form.title }}
    </div>
     {% comment %} <div class="mb-3 d-grid">
      <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
      {{ form.title }}
      <div class="invalid-feedback">Please provide a title.</div>
    </div> {% endcomment %}
    <div class="mb-3">
      <label for="{{ form.sub_category.id_for_label }}" class="form-label">{{ form.sub_category.label }}</label>
      {{ form.sub_category }}
      <div class="invalid-feedback form-control">Please select a category.</div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Content</label>
       {{form.media}}{{ form.content }}
    </div>
   
    
    <div id="file-fields" class="mb-3">
      <label for="file" class="form-label">Upload Files:</label>
      <input type="file" name="file" class="form-control-file file-input" multiple>
    </div>
    <div>
    <button type="button" id="add-file-field" class="btn btn-outline-info mb-3">Add File Field</button>
    </div>
    <div class="d-grid pb-4">
    <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>
  </form>
</div>

<script>
  CKEDITOR.replace('editor');
</script> 

<script>
  const fileFieldsContainer = document.getElementById('file-fields');
  const addFileFieldButton = document.getElementById('add-file-field');

  addFileFieldButton.addEventListener('click', () => {
    const newFileInput = document.createElement('input');
    newFileInput.type = 'file';
    newFileInput.name = 'file';
    newFileInput.className = 'form-control-file file-input';
    newFileInput.setAttribute('multiple', 'true');
    fileFieldsContainer.appendChild(newFileInput);
  });
</script> 


{% endblock %}